<% provide(:title, "リンク") %>
<h1>リンク</h1>
<p>
  全国のフェス情報はこちらのリンクから→<a href="https://www.festival-life.com/festival">全国のフェス</a></p>
  
  <p>全国の楽器店をお探しの方はこちらのリンクから→<a href="https://www.j-guitar.com/shops/">全国の楽器店を探す</a></p>
  
  <p>ネットで楽器を探すならこちらのリンクから→<a href="https://www.rakuten.co.jp/category/instrument/">ネットショッピング</a></p>
  
  <p>音楽を始める方はこちらのリンクから→<a href="https://www.music-school.net/">全国のミュージックスクール</a>
</p>