<% provide(:title, '管理人') %>
<h1>管理人</h1>
<font color="#008000">
<p>
  氏名：佐藤　望（Nozomu Sato)</p>
<p>生年月日1992年9月16日　26歳</p>
<p>出身地：福島県いわき市</p>
<p>中学時代にベースを始めた事をきっかけに音楽の虜になり、バンド活動を始める。</p>
<p>高校時代はオリジナル曲を中心に月2回の定期ライブの他、夏祭りイベントやBarでの依頼を受けつつ、市内の高校生バンドコンテストで優勝。</p>
<p>他県の遠征活動もしていた。</p>
</font>

  <a href=""></a>
</p>