<footer class="footer">
  <small>
    The create<a href=""></a>
    by Nozomu Sato<a href="/"></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "",   about_path %></li>
      <li><%= link_to "管理人紹介", contact_path %></li>
      <li><a href="http://news.railstutorial.org/"></a></li>
    </ul>
  </nav>
</footer>